body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 1em; background: #fff; color: #000; }
#header { background: #f8f8f8; width: 100%; border-bottom: 1px solid #eee; }


img { width: 20%; height: 20%; margin-left: 40%;}

h1.detailed {
    text-align: center;
}


.parent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    text-align: center;
}

.highcharts-figure {
    grid-area: 1 / 1;
}

.new {
    grid-area: 1 / 2;
    text-align: center;
}

.not {
    grid-area: 2 / 1;
    text-align: center;
}

.test {
    grid-area: 2 / 2;
    text-align: center;
}